depa/zero2hero_01/03-IQAir-Google-sheet.json
{
  "name": "03-IQAir-Google-sheet",
  "nodes": [
    {
      "parameters": {},
      "id": "263375eb-df3f-47ed-a1b5-431a7150d1b7",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        -96
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "id": "309a6c62-b3c6-4fae-bffc-d59f6d7770eb",
      "name": "Cron (09:00 daily)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        112,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://api.airvisual.com/v2/city",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "6d5e2ec5-5689-4d8c-8409-3eb3196c9d51"
            },
            {
              "name": "city",
              "value": "Maha Sarakham"
            },
            {
              "name": "state",
              "value": "Maha Sarakham"
            },
            {
              "name": "country",
              "value": "Thailand"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "01c3ae31-8951-4d3b-9bd1-72f89342e4a7",
      "name": "HTTP: IQAir city=Mahasarakham",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Function v1: Same formatter as nearest_city, works for /city too\nconst d = $json.data || {};\nconst cur = (d.current || {});\nconst pol = (cur.pollution || {});\nconst wth = (cur.weather || {});\n\nconst city = d.city || '-';\nconst state = d.state || '-';\nconst country = d.country || '-';\n\nconst aqius = Number(pol.aqius ?? NaN);\nconst main  = pol.mainus || '';\n// ให้ ts มีค่าเสมอ: ใช้ของ API ก่อน ถ้าไม่มี ใช้เวลาปัจจุบันของ n8n\nconst ts    = pol.ts || wth.ts || $now.toISO();\n\nconst mapMain = { p2: 'PM2.5', p1: 'PM10', o3: 'O₃', no2: 'NO₂', so2: 'SO₂', co: 'CO' };\nconst mainLabel = mapMain[main] || main || '-';\n\nlet cat = 'N/A';\nif (!Number.isNaN(aqius)) {\n  if (aqius <= 50) cat = '✅ ดี (0–50)';\n  else if (aqius <= 100) cat = '🟡 ปานกลาง (51–100)';\n  else if (aqius <= 150) cat = '🟠 มีผลกระทบต่อผู้ไวต่อมลพิษ (101–150)';\n  else if (aqius <= 200) cat = '🔴 ไม่ดี (151–200)';\n  else if (aqius <= 300) cat = '🟣 แย่มาก (201–300)';\n  else cat = '🛑 อันตราย (>300)';\n}\n\nfunction esc(s){ return String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\nconst lines = [];\nlines.push('🌏 IQAir — สรุปคุณภาพอากาศ');\nlines.push(`พื้นที่: ${esc(city)}, ${esc(state)}, ${esc(country)}`);\nif (!Number.isNaN(aqius)) lines.push(`US AQI: ${aqius} (${esc(cat)})`);\nlines.push(`มลพิษหลัก: ${esc(mainLabel)}`);\nif (ts) lines.push(`เวลาอัปเดต: ${esc(ts)}`);\n\nlet temp_c = null;\nlet humidity = null;\nlet wind_ms = null;\nlet pressure_hpa = null;\n\nif (Object.keys(wth).length) {\n  const tp=wth.tp, hu=wth.hu, ws=wth.ws, pr=wth.pr;\n  const parts=[];\n  if (tp!==undefined) { temp_c = tp; parts.push(`อุณหภูมิ: ${esc(tp)}°C`); }\n  if (hu!==undefined) { humidity = hu; parts.push(`ความชื้น: ${esc(hu)}%`); }\n  if (ws!==undefined) { wind_ms = ws; parts.push(`ลม: ${esc(ws)} m/s`); }\n  if (pr!==undefined) { pressure_hpa = pr; parts.push(`ความกดอากาศ: ${esc(pr)} hPa`); }\n  if (parts.length) lines.push(parts.join(' • '));\n}\n\nlines.push('');\nlines.push('ปล. ค่า US AQI เป็นดัชนีรวม โดยมลพิษหลักมักเป็น PM2.5 (p2)');\n\nconst text_plain = lines.join('\\n');\nconst text_html = text_plain; // HTML mode, no <br>\n\n// ✅ Return ให้ครบตามคอลัมน์ Google Sheet\nreturn [{\n  ts,\n  city,\n  state,\n  country,\n  aqius: Number.isNaN(aqius) ? null : aqius,\n  mainus: main || null,\n  temp_c,\n  humidity,\n  wind_ms,\n  pressure_hpa,\n  text: text_plain,\n  text_html\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -16
      ],
      "id": "3f8c1e0e-e75f-4468-9119-195f171d4ed3",
      "name": "Code-Build-Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5dfd9ff-99f3-478a-a5fd-38df5f1be878",
              "name": "ts",
              "value": "={{$json.ts ?? $now.toISO()}}",
              "type": "string"
            },
            {
              "id": "ddce1848-e9d3-4e88-90df-21d1ad5d67bb",
              "name": "city",
              "value": "={{$json.city}}",
              "type": "string"
            },
            {
              "id": "757317c9-7945-491e-a050-e632a889ba33",
              "name": "state",
              "value": "={{$json.state}}",
              "type": "string"
            },
            {
              "id": "c8659932-8c8a-4a9e-bc39-c882ba305bff",
              "name": "country",
              "value": "={{$json.country}}",
              "type": "string"
            },
            {
              "id": "c1c5293c-c044-4ef6-a5a0-6d0907fdbd73",
              "name": "aqius",
              "value": "={{$json.aqius}}",
              "type": "string"
            },
            {
              "id": "243bbaff-61f9-4615-883a-abcac5f339ac",
              "name": "temp_c",
              "value": "={{$json.temp_c}}",
              "type": "string"
            },
            {
              "id": "14809084-f38a-4032-a439-84459d12490c",
              "name": "humidity",
              "value": "={{$json.humidity}}",
              "type": "string"
            },
            {
              "id": "01e6917c-25d3-43b9-b3e7-e8f61ff875d6",
              "name": "wind_ms",
              "value": "={{$json.wind_ms}}",
              "type": "string"
            },
            {
              "id": "7d7f3047-1139-4f82-99af-e41513e4835c",
              "name": "pressure_hpa",
              "value": "={{$json.pressure_hpa}}",
              "type": "string"
            },
            {
              "id": "0552f1d3-140e-4471-ab71-fd337a8298f6",
              "name": "text",
              "value": "={{$json.text}}",
              "type": "string"
            },
            {
              "id": "ed6121bf-f8fa-4916-8be0-09b62d7de819",
              "name": "=mainus",
              "value": "={{$json.mainus}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -16
      ],
      "id": "86dec8d7-663c-4675-ba3f-5d75ea289029",
      "name": "SET | Prepare Data for Sheet"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nrCfhypwebJIzZljNSI550u3xevq_d5HyqU-wNpZ7l4",
          "mode": "list",
          "cachedResultName": "n8n_depa_01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nrCfhypwebJIzZljNSI550u3xevq_d5HyqU-wNpZ7l4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "weather_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nrCfhypwebJIzZljNSI550u3xevq_d5HyqU-wNpZ7l4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ts": "={{$json.ts}}",
            "city": "={{$json.city}}",
            "state": "={{$json.state}}",
            "country": "={{$json.country}}",
            "aqius": "={{$json.aqius}}",
            "temp_c": "={{$json.temp_c}}",
            "humidity": "={{$json.humidity}}",
            "wind_ms": "={{$json.wind_ms}}",
            "pressure_hpa": "={{$json.pressure_hpa}}",
            "text": "={{$json.text}}",
            "mainus": "={{$json.mainus}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aqius",
              "displayName": "aqius",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mainus",
              "displayName": "mainus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "temp_c",
              "displayName": "temp_c",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "humidity",
              "displayName": "humidity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "wind_ms",
              "displayName": "wind_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pressure_hpa",
              "displayName": "pressure_hpa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        -16
      ],
      "id": "56fa43bd-c0d4-4dd4-99ca-2232a09db56f",
      "name": "GS | Append Data Row",
      "credentials": {
        "googleApi": {
          "id": "R0AwtpKYxuM7gzKi",
          "name": "Google Sheets account-depa-trainning01"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP: IQAir city=Mahasarakham",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron (09:00 daily)": {
      "main": [
        [
          {
            "node": "HTTP: IQAir city=Mahasarakham",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: IQAir city=Mahasarakham": {
      "main": [
        [
          {
            "node": "Code-Build-Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code-Build-Text": {
      "main": [
        [
          {
            "node": "SET | Prepare Data for Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Prepare Data for Sheet": {
      "main": [
        [
          {
            "node": "GS | Append Data Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "799473a8-7845-4bdf-a98b-daa3b193b387",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e8bd4e6dcfe2d257f6d9648f4efaf76882daef04e1402d554d9aae9132bba97"
  },
  "id": "NJflQRmr2rPjsYirC-Z2w",
  "tags": []
}