flow/05-MQTT-xymd02-Googlesheet_Set_threshold_Log.json
{
  "name": "05-MQTT-xymd02-Googlesheet_Set_threshold_Log",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bBdHKma7eqZtVHaBk31GKj4HvZ7zyv3nDPyuPWBDWQU",
          "mode": "list",
          "cachedResultName": "n8nxy-md02_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bBdHKma7eqZtVHaBk31GKj4HvZ7zyv3nDPyuPWBDWQU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "xy-md02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bBdHKma7eqZtVHaBk31GKj4HvZ7zyv3nDPyuPWBDWQU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ts": "={{ $json.ts }}",
            "site": "={{ $json.site }}",
            "temp": "={{ $json.temp }}",
            "tunit": "={{ $json.tunit }}",
            "hum": "={{ $json.hum }}",
            "hunit": "={{ $json.hunit }}",
            "threshold_temp": "={{ $json.threshold_temp }}",
            "mode": "={{ $json.mode }}",
            "isHigh": "={{ $json.isHigh }}",
            "status_detail": "={{ $json.status_detail }}",
            "baseTopic": "={{ $json.baseTopic }}",
            "value_source": "={{ $json.value_source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temp",
              "displayName": "temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tunit",
              "displayName": "tunit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hum",
              "displayName": "hum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hunit",
              "displayName": "hunit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threshold_temp",
              "displayName": "threshold_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isHigh",
              "displayName": "isHigh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_detail",
              "displayName": "status_detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "baseTopic",
              "displayName": "baseTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "value_source",
              "displayName": "value_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -672
      ],
      "id": "46bd3c31-0589-4efa-9619-d3b0a7e88626",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "RUv1kTtSucsBEEbA",
          "name": "Google Service Account account#zero2hero#1"
        }
      }
    },
    {
      "parameters": {
        "topics": "xymd02",
        "options": {
          "jsonParseBody": true
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -656
      ],
      "id": "b7c1582a-dc99-4d66-a278-3189e4926860",
      "name": "MQTT Trigger",
      "credentials": {
        "mqtt": {
          "id": "yzb3rPCDhcnA9IgT",
          "name": "MQTT account#zero2hero#1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e864e34c-5ba8-4a44-a86c-79e54b8b6dab",
              "leftValue": "={{$json.shouldLog}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24db6e3e-e09c-4131-984a-808d77579520",
      "name": "shouldLog=true",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        -656
      ]
    },
    {
      "parameters": {
        "functionCode": "// Gate: 1m (high) / 60m (normal) — Generic (DHT or XY-MD02), no Telegram\n\n// --- config (ENV + per-item overrides) ---\nconst HIGH_EVERY_MIN_DEFAULT   = Number($env.HIGH_EVERY_MIN   ?? 1);\nconst NORMAL_EVERY_MIN_DEFAULT = Number($env.NORMAL_EVERY_MIN ?? 60);\n\nconst item  = { ...$json };\nconst nowMs = Date.now();\n\n// --- identity (unique key per device/stream) ---\nconst siteName  = item.site || 'default';\nconst baseTopic = item.baseTopic || item.topic || 'XYMD02'; // เดิม DHTsensor → ปรับ fallback เป็น XYMD02\nconst sensorId  = item.sensor_id ?? item.slave_id ?? item.device_id ?? null;\nconst sensorKey = sensorId ? `${siteName}::${baseTopic}::${sensorId}` : `${siteName}::${baseTopic}`;\n\n// --- per-item overrides for periods ---\nconst highEveryMin   = Number.isFinite(Number(item.high_every_min))   ? Number(item.high_every_min)   : HIGH_EVERY_MIN_DEFAULT;\nconst normalEveryMin = Number.isFinite(Number(item.normal_every_min)) ? Number(item.normal_every_min) : NORMAL_EVERY_MIN_DEFAULT;\n\n// --- global state ---\nconst g = getWorkflowStaticData('global');\ng._gate      = g._gate      || {};\ng._lastValid = g._lastValid || {};\n\ng._gate[sensorKey] = g._gate[sensorKey] || { lastMode: 'normal', lastHighAt: 0, lastNormalAt: 0, initDone: false };\ng._lastValid[sensorKey] = g._lastValid[sensorKey] || { temp: null, hum: null };\n\n// --- helpers ---\nconst hasNum = (v) => {\n  if (v === '' || v === null || v === undefined) return false;\n  const n = Number(v);\n  return Number.isFinite(n);\n};\nconst pick = (cur, last) => (hasNum(cur) ? Number(cur) : (hasNum(last) ? Number(last) : null));\n\n// --- track last valid values ---\nif (hasNum(item.temp)) g._lastValid[sensorKey].temp = Number(item.temp);\nif (hasNum(item.hum))  g._lastValid[sensorKey].hum  = Number(item.hum);\n\n// --- fallback to last valid if missing this tick ---\nitem.temp = pick(item.temp, g._lastValid[sensorKey].temp);\nitem.hum  = pick(item.hum,  g._lastValid[sensorKey].hum);\nitem.value_source = (hasNum($json.temp) || hasNum($json.hum)) ? 'current' : 'last';\n\n// --- threshold & mode ---\nconst thresholdTemp = hasNum(item.threshold_temp)\n  ? Number(item.threshold_temp)\n  : (hasNum($env.TEMP_THRESHOLD) ? Number($env.TEMP_THRESHOLD) : 35);\n\nlet modeNow = (item.mode === 'high' || item.mode === 'normal') ? item.mode : 'normal';\nif (hasNum(item.temp)) modeNow = (Number(item.temp) > thresholdTemp) ? 'high' : 'normal';\n\nconst prevMode = g._gate[sensorKey].lastMode;\n\n// --- decide logging frequency ---\nlet shouldLog     = false;\nlet status_detail = 'normal_periodic';\n\n// ยิง log แรกสุดของอุปกรณ์นี้ทันที (init) เพื่อไม่ต้องรอครบช่วงเวลา\nif (!g._gate[sensorKey].initDone) {\n  shouldLog = true;\n  status_detail = 'init';\n  if (modeNow === 'high') {\n    g._gate[sensorKey].lastHighAt = nowMs;\n  } else {\n    g._gate[sensorKey].lastNormalAt = nowMs;\n  }\n  g._gate[sensorKey].initDone = true;\n} else if (modeNow === 'high') {\n  const due = nowMs >= g._gate[sensorKey].lastHighAt + highEveryMin * 60 * 1000;\n  if (due) {\n    shouldLog = true;\n    g._gate[sensorKey].lastHighAt = nowMs;\n  }\n  status_detail = 'high';\n} else {\n  if (prevMode === 'high') {\n    // recovery: high -> normal บันทึกทันทีหนึ่งครั้ง\n    shouldLog = true;\n    status_detail = 'recovery';\n    g._gate[sensorKey].lastNormalAt = nowMs;\n  } else {\n    const due = nowMs >= g._gate[sensorKey].lastNormalAt + normalEveryMin * 60 * 1000;\n    if (due) {\n      shouldLog = true;\n      g._gate[sensorKey].lastNormalAt = nowMs;\n    }\n    status_detail = 'normal_periodic';\n  }\n}\n\n// update last mode\ng._gate[sensorKey].lastMode = modeNow;\n\n// --- enrich fields for downstream (GS, etc.) ---\nitem.mode             = modeNow;\nitem.threshold_temp   = thresholdTemp;\nitem.status_detail    = status_detail;\nitem.shouldLog        = !!shouldLog;\nitem.gate_key         = sensorKey;\nitem.high_every_min   = highEveryMin;\nitem.normal_every_min = normalEveryMin;\n\nreturn [item];"
      },
      "id": "1c4bf0e4-6187-41b9-9c8b-0077520b4076",
      "name": "Gate: 1m (high) / 60m (normal)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        464,
        -656
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "site",
              "value": "={{$env.SITE_NAME || 'Wather STA1'}}"
            },
            {
              "name": "baseTopic",
              "value": "={{$env.MQTT_BASE_TOPIC || 'Wather STA1'}}"
            },
            {
              "name": "threshold_temp",
              "value": "={{ Number($env.TEMP_THRESHOLD ?? 28) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fee24c4a-c1a8-47f0-bb0e-83a662489813",
      "name": "Set: Site Name/Threshold",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        112,
        -656
      ]
    },
    {
      "parameters": {
        "functionCode": "// Parse EnvSensor (normalize) — works with DHT & XY-MD02\n// Output columns: ts, site, temp, tunit, hum, hunit, threshold_temp, mode, isHigh, isLow, status_detail, baseTopic\n\nconst SITE           = $json.site ?? $json.site_name ?? $env.SITE_NAME ?? \"MSU_Lab\";\nconst BASE_TOPIC     = $json.baseTopic ?? $json.topic ?? $env.MQTT_BASE_TOPIC ?? \"XYMD02\";\n// ใช้ threshold จาก JSON ก่อน แล้วค่อย fallback ไป ENV (ตามที่ตั้งใจ)\nconst INPUT_THRESHOLD = Number($json.threshold_temp ?? $env.TEMP_THRESHOLD ?? 35);\nconst TZ_OFFSET_MIN  = Number($env.TZ_OFFSET_MIN ?? 420); // Asia/Bangkok\n\n// ---- รับ payload จาก MQTT Trigger ($json.message เป็น object หรือ string) ----\nlet payload = $json.message ?? $json;\nif (typeof payload === 'string') { try { payload = JSON.parse(payload); } catch { payload = {}; } }\n\n// ---- helpers ----\nconst toNum = (v) => {\n  if (v === undefined || v === null) return null;\n  if (typeof v === 'string' && v.trim() === '') return null;\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n};\n// เดาสเกล x10 สำหรับค่าดิบ register (เช่น 275 -> 27.5)\nconst maybeScale10 = (n) => (n !== null && Number.isInteger(n) && Math.abs(n) >= 100) ? n / 10 : n;\nconst pickFirstNum = (...cands) => {\n  for (const c of cands) { const n = toNum(c); if (n !== null) return n; }\n  return null;\n};\n\n// ---- ดึงค่า temp/hum รองรับหลายรูปแบบ (DHT & Modbus) ----\n// DHT-style fields\nlet temp = pickFirstNum(\n  payload.temp, payload.temperature, payload.dht?.temp,\n  payload.DHT11?.temp, payload.DHT22?.temperature, payload.temp_c, payload.tC, payload.T\n);\nlet hum  = pickFirstNum(\n  payload.hum, payload.humidity, payload.dht?.hum,\n  payload.DHT11?.humidity, payload.DHT22?.hum, payload.rh, payload.RH\n);\n\n// Modbus raw (x10)\nif (temp === null) temp = maybeScale10(toNum(payload.temp_raw));\nif (hum  === null) hum  = maybeScale10(toNum(payload.hum_raw));\n\n// Modbus registers: { registers:[t_x10, h_x10] } หรือ object {r0,r1}/{\"0\",\"1\"}\nif ((temp === null || hum === null) && payload.registers) {\n  const r = payload.registers;\n  const r0 = Array.isArray(r) ? r[0] : (r['0'] ?? r.r0 ?? r.reg0);\n  const r1 = Array.isArray(r) ? r[1] : (r['1'] ?? r.r1 ?? r.reg1);\n  if (temp === null) temp = maybeScale10(toNum(r0));\n  if (hum  === null) hum  = maybeScale10(toNum(r1));\n}\n\n// ซ้อนใน data: { data:{ temp:..., hum:... } }\nif ((temp === null || hum === null) && payload.data && typeof payload.data === 'object') {\n  if (temp === null) temp = maybeScale10(pickFirstNum(payload.data.temp, payload.data.temperature, payload.data.temp_raw));\n  if (hum  === null) hum  = maybeScale10(pickFirstNum(payload.data.hum, payload.data.humidity, payload.data.hum_raw, payload.data.rh));\n}\n\n// ---- คำนวณสถานะจาก threshold ----\nconst hasThreshold = Number.isFinite(INPUT_THRESHOLD);\nconst isHigh = hasThreshold && temp !== null && temp > INPUT_THRESHOLD;\nconst mode   = isHigh ? 'high' : 'normal';\n\n// ---- เวลาโลคัล \"YYYY-MM-DD HH:mm:ss\" ----\nconst ts = new Date(Date.now() + TZ_OFFSET_MIN * 60 * 1000)\n  .toISOString().replace('T',' ').slice(0,19);\n\n// ---- ข้อความสั้นเพื่อ debug ----\nconst status_detail = (() => {\n  if (temp === null) return 'temp=N/A';\n  if (!hasThreshold) return `TEMP ${temp}°C (no TH)`;\n  return isHigh\n    ? `TEMP ${temp}°C > TH ${INPUT_THRESHOLD}°C`\n    : `TEMP ${temp}°C ≤ TH ${INPUT_THRESHOLD}°C`;\n})();\n\nreturn [{\n  ts,\n  site: SITE,\n  temp,  tunit: $json.tunit || '°C',\n  hum,   hunit: $json.hunit || '%',\n  threshold_temp: hasThreshold ? INPUT_THRESHOLD : null,\n  mode,\n  isHigh: isHigh ? 1 : 0,\n  isLow : (hasThreshold && temp !== null && temp < INPUT_THRESHOLD) ? 1 : 0,\n  status_detail,\n  baseTopic: BASE_TOPIC,\n}];"
      },
      "id": "38ddc696-b059-470b-bf36-5bd150209673",
      "name": "Parse xymd02(normalize)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        288,
        -656
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Set: Site Name/Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "shouldLog=true": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: 1m (high) / 60m (normal)": {
      "main": [
        [
          {
            "node": "shouldLog=true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Site Name/Threshold": {
      "main": [
        [
          {
            "node": "Parse xymd02(normalize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse xymd02(normalize)": {
      "main": [
        [
          {
            "node": "Gate: 1m (high) / 60m (normal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bbe2754-5e0e-4f0e-a85a-b53e69110d01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae77891e61682ce507d6ded849cca0156c91ca717c15eeed76eb0533f2ae6f80"
  },
  "id": "eiFpp9pQQJxWmmHd",
  "tags": []
}